
.donor-dashboard-links ul {
  list-style: none;
}
.wallet-card-text {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
  align-items: center;
  .configureIcon {
    justify-self: end;
<<<<<<< HEAD
    height: 1.5rem;
=======
    height: 1.75rem;
>>>>>>> new dashboard layout
  }
}

.donor-dashboard{
  .media {
    img {
      width: 5rem;
    }
  }
}
